.container{
    margin-bottom: 100px;
}
.carasol-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color: #ff136f;
}
.buynow-btn{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    outline: none;
    
}
.buynow-btn:hover{
    background-image: linear-gradient(to top, #ff589b 0%, #ff136f 100%);
    border: none;
    outline: none;
}
.cat1{
    background-color: orange;
    padding:10px 30px;
    border-radius: 8px;
    overflow: hidden;
}
.cat2{
    background-color: orchid;
    padding:10px 30px;
    border-radius: 8px;
    overflow: hidden;
}
.cat3{
    background-color: blue;
    padding:10px 30px;
    border-radius: 8px;
    overflow: hidden;
}
.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 8px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
p{
    font-weight: 400;
}
#contact{
    height: 300px;
}
#contact h6{
    color: gray;
}
footer{
    text-align: center;
}